<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" id="name" [routerLink]="['Home']">Myflix</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ng-template [ngIf]="!logout.onCheck()">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['productlist']">Tv Shows</a></li>
          <li><a [routerLink]="['movieslist']">Movies</a></li>
           </ul>
      </ng-template>



      <ng-template [ngIf]="logout.onCheck()">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a [routerLink]="['signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>
      </ng-template>

      <ng-template [ngIf]="!logout.onCheck()">
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['profile']"><span class="glyphicon glyphicon-user" ></span>  Welcome {{logout.checkuser()}}</a></li>
            
            <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <ng-template [ngIf]="logout.checkadmin()">
                    <li><a [routerLink]="['admin']" ><span class="glyphicon glyphicon-lock" ></span> Admin</a></li>
                </ng-template>    
              <li><a [routerLink]="['Home']" (click)="doThis()"><span class="glyphicon glyphicon-user" ></span> Logout</a></li>
            </ul>
          </li>



        </ul>



      </ng-template>

    </div>
    <!--/.nav-collapse -->
  </div>
</nav>