<br>



<div id="body">
    <div class="container">
        <div class="row">
          <br>

              <h2 align="center">Movies</h2>
                   <br>
              <div class="col-sm-3" *ngFor= "let product of products" (click)="detailfn(product)">
                <article class="col-item">
                  <div class="photo">
                    <img src="{{product.purl}}" class="img-responsive" alt="Product Image"  />
                  </div>
                  <div class="info">
                    <div class="row">
                      <div class="price-details col-md-6"  >
                        
                        <h1 >{{product.pname}}</h1>
                        <span class="price-new">${{product.pprice}}</span>
                      </div>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>
                </article>
              </div>          


        </div>
      </div>
</div>

